header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #0086BC;
}

.logodiv {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  display: flex;
  gap: 0.8rem;
}

.logo {
  width: 6.2rem;
  height: 4rem;
  margin-left: 1rem;
}

.heading {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.navBar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 1rem;
}
.navBar ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.8rem;
  justify-content: end;
}

li {
  list-style: none;
}

.pagelinks {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

#burgerBtnId {
  display: none;
}

.burgerBtn {
  height: 100%;
  width: 50px;
  background-color: #f3f6f8;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.burgerBtn span {
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: transform 1s, background-color 3s;
}

#burgerBtnId:checked ~ .burgerBtn .burgerLine2 {
  transform: translateX(150%);
}

#burgerBtnId:checked ~ .burgerBtn .burgerLine1 {
  transform: translateY(10px) rotate(45deg);
  background-color: red;
}

#burgerBtnId:checked ~ .burgerBtn .burgerLine3 {
  transform: translateY(-11px) rotate(-45deg);
  background-color: red;
}

#burgerBtnId:checked ~ .burgerBtn {
  background-color: transparent;
}

#burgerBtnId:checked ~ .mobileNav {
  transform: translateX(0);
}

.mobileNav {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: #152040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(150%);
  transition: transform 1s;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.8rem;
  list-style: none;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  margin-top: 30px;
  background-color: #152040;
  padding: 1rem;
}

.mobileapp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.mobileapp .download {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
}
.mobileapp .download h2 {
  font-size: 2rem;
  color: white;
  margin: 0;
}
.mobileapp .download p {
  max-width: 28rem;
  margin: 0;
}
.mobileapp .countryphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobileapp .countryphone .selection {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.mobileapp .countryphone .selection #country {
  background-color: #152040;
  color: #ffffff;
}
.mobileapp .countryphone .selection .send {
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  width: 5rem;
  height: 2.65rem;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 10px;
}
.mobileapp .countryphone .selection .send:hover {
  background-color: #0086BC;
}
.mobileapp .countryphone .phonenumber {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.mobileapp .countryphone .phonenumber #phonenumb {
  background-color: #152040;
  border-bottom: 2px solid #ffffff;
  width: 14rem;
}
.mobileapp .imglinks {
  display: flex;
  flex-direction: row;
}
.mobileapp .imglinks .downloadapps {
  display: flex;
  flex-direction: column;
}

.footernav {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}
.footernav ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.8rem;
}
.footernav ul li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  max-width: 100%;
  height: 125vh;
  background-image: url(./bgimg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 45% 15% 40%;
  grid-template-areas: ". heading1" ". p1" ". booknow";
}

h1 {
  grid-area: heading1;
  color: yellow;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
  font-family: "Anton", sans-serif;
}

p {
  font-family: "Hepta Slab", serif;
}

a {
  font-family: "Roboto Condensed", sans-serif;
}

.paragraph {
  grid-area: p1;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
}

.divbooknow {
  grid-area: booknow;
  display: flex;
  align-items: start;
  margin-top: 10px;
}

.booknow {
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: #ffffff;
  color: black;
  padding: 12px 24px;
  transition: background-color 1s;
}

.booknow:hover {
  background-color: rgba(117, 117, 243, 0.651);
}

.hero2 {
  max-width: 100%;
  height: 70vh;
  background-image: url(./bgimg2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas: "heading" "paragraph2" "readmore";
}

.headingabout {
  margin-top: 60px;
  grid-area: heading;
  color: rgba(255, 255, 0, 0.864);
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutparagraph {
  margin-top: 30px;
  grid-area: paragraph2;
  width: 500px;
  color: #ffffff;
  font-size: 600;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.divreadmore {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 10px;
}

.readmore {
  grid-area: readmore;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 24px;
  border-radius: 30px;
  color: black;
  margin-top: 20px;
}

.readmore:hover {
  background-color: #0086BC;
}

.cards {
  width: 100%;
  height: 822px;
  background-color: #152040;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courcesheading {
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 20px;
}

.card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #ffffff;
  margin-top: 50px;
}

.content {
  max-width: 200px;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 20px;
}

.booknow2 {
  text-align: center;
  width: 100px;
  text-decoration: none;
  color: black;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 4px 8px;
}

.booknow2:hover {
  background-color: #0086BC;
}

.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card1 {
  width: 424px;
  height: 668px;
  background-image: url(https://static.wixstatic.com/media/fc7570_3d943b929f324e8bb9b4925934bf744f~mv2_d_5760_3840_s_4_2.jpg/v1/fill/w_559,h_668,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/fc7570_3d943b929f324e8bb9b4925934bf744f~mv2_d_5760_3840_s_4_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card2 {
  width: 424px;
  height: 668px;
  background-image: url(https://static.wixstatic.com/media/fc7570_043acdee000b4850a234eaf94373483a~mv2_d_3920_3346_s_4_2.jpg/v1/fill/w_561,h_668,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/fc7570_043acdee000b4850a234eaf94373483a~mv2_d_3920_3346_s_4_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card3 {
  width: 424px;
  height: 668px;
  background-image: url(https://static.wixstatic.com/media/fc7570_45d9b8902e024708b38cba80b28cabab~mv2_d_2848_3769_s_4_2.jpg/v1/fill/w_561,h_668,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/fc7570_45d9b8902e024708b38cba80b28cabab~mv2_d_2848_3769_s_4_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  height: 560px;
}

.carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-caption p {
  max-width: 925px;
  font-size: 28px;
}

.names {
  display: block;
}

.bgturtle {
  background-image: url(https://static.wixstatic.com/media/fc7570_929a2fe5b7754396b385f6219e720299~mv2_d_3982_2655_s_4_2.jpg/v1/fill/w_1901,h_960,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/fc7570_929a2fe5b7754396b385f6219e720299~mv2_d_3982_2655_s_4_2.jpg);
  max-width: 100%;
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 0, 0.864);
  flex-direction: column;
}

.donatehead {
  margin-bottom: 30px;
  text-align: center;
}

.donate {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 50px;
}

.hero4 {
  height: 30rem;
  background-color: #152040;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.headtwo {
  color: rgba(255, 255, 0, 0.864);
  margin-bottom: 50px;
}

iframe {
  width: 100%;
}

.contact {
  background-color: #ffffff;
}

.divcontact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  height: 300px;
}

.leftside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 60px;
}

.rightside {
  display: flex;
  justify-content: end;
  margin: 60px;
}

.nametype {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.firstname,
.lastname,
.email,
.phone {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.lastname {
  display: flex;
  justify-content: end;
}

#firstname,
#lastname,
#email,
#phone {
  margin-top: 15px;
  border: none;
  border-bottom: 0.5px solid black;
  background-color: #ffffff;
  transition: all 1s;
}

.emailphone {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.message {
  display: flex;
  flex-direction: column;
}

.sumbitbtn {
  width: 100%;
  background-color: #152040;
  color: #ffffff;
  margin-top: 1rem;
  height: 2.5rem;
  border: none;
}

.sumbitbtn::hover {
  background-color: #ffffff;
}

@media (max-width: 1271px) {
  .logo {
    width: 4.5rem;
    height: 2.5rem;
  }
  .cards {
    height: 1600px;
  }
  .cards .card1,
  .cards .card2,
  .cards .card3 {
    margin-top: 20px;
  }
  .aboutparagraph {
    width: 500px;
    text-align: center;
  }
  .carousel-item {
    max-height: 700px;
  }
  .carousel-caption p {
    font-size: 20px;
    max-width: 600px;
  }
}
@media (max-width: 1271px) and (max-width: 862px) {
  .burgerBtn {
    display: flex;
    margin-right: 1rem;
  }
  .navBar {
    display: none;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 15% 40%;
    grid-template-areas: "heading1" "p1" "booknow";
  }
  .hero h1,
  .hero p,
  .hero a {
    margin-left: 1rem;
  }
  .aboutparagraph {
    width: 350px;
    margin: 0 auto;
  }
  .cards {
    height: 1550px;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card1,
  .card2,
  .card3 {
    height: 450px;
    width: 300px;
  }
  .carousel-item {
    max-height: 400px;
  }
  .carousel-caption p {
    font-size: 16px;
    max-width: 350px;
  }
  .photos {
    display: flex;
    flex-direction: column;
  }
  .divcontact {
    display: flex;
    flex-direction: column;
  }
  .divcontact .leftside {
    margin: 0 auto;
    text-align: center;
  }
  .divcontact .rightside {
    margin: 0 auto;
  }
  .countryphone {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1271px) and (max-width: 376px) {
  .heading {
    font-size: 1.5rem;
  }
  .aboutparagraph {
    width: 310px;
    margin: 0 auto;
  }
  .readmore {
    margin-top: 25px;
  }
  .card1,
  .card2,
  .card3 {
    max-width: 40vh;
  }
  .carousel-item {
    height: 40vh;
  }
  .carousel-caption p {
    font-size: 0.85rem;
    max-width: 200px;
  }
  .donatehead {
    text-align: center;
  }
  .rightside {
    width: 100%;
    margin: 0 auto;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
  .phonenumber,
  .download {
    margin: 0 auto;
  }
  #phonenumb {
    max-width: 12rem;
  }
  .footernav ul {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */